
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/AppUser/Add"> Add User </a></li>
    </ol>

    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/AppUser/List">List Of Users</a></li>
    </ol>

    <br />
    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/Article/Add"> Add Article </a></li>
    </ol>

    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/Article/List"> List Of Articles </a></li>
    </ol>

    <br />
    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/Category/Add"> Add Category </a></li>
    </ol>

    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/Category/List"> List Of Category </a></li>
    </ol>

    <br />
    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/SubCategory/Add"> Add SubCategory </a></li>
    </ol>

    <br />

    <ol class="breadcrumb">
        <li><a href="/Admin/SubCategory/List"> List Of SubCategories </a></li>
    </ol>

    <br />

</section>

<br />

